

body{
    width: 800px; /* how wide to make your web page */
    margin: 0 auto;
    padding: 0;
    /*font:12px/16px Verdana, sans-serif; /* default font */
    font-family: 'Ubuntu', sans-serif;
}
div#main{
    background-color: #FFF;
    margin: 0;
    padding: 10px;
}


header{
    position: relative;
}

ul.category{
	list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    background-color: #000000;
    width: 760px;
    height: 60px;
    position: absolute;
    top: 0;
    margin: 0 0 60px 0;
    font-variant: 
}

ul.category li{
	float: left;
	margin: 28px 15px 0 0;
}

ul.category li a{
    color: #ffffff;
    text-decoration: none;
}

ul.category li a:hover{
    border-top: solid 5px #ffffff;
}

.nav-hr {
    margin-top: 15px;
    height: 10px;
    background-color: #000000;
    border: none;
}


/*

ul.category li:nth-child(1) a:hover{
    color: green;
    border-top: solid 5px green;
}


ul.category li:nth-child(2) a:hover{
    color: blue;
    border-top: solid 5px blue;
}


ul.category li:nth-child(3) a:hover{
    color: orange;
    border-top: solid 5px orange;
}

ul.category li:nth-child(4) a:hover{
    color: cyan;
    border-top: solid 5px cyan;
}

ul.category li:nth-child(5) a:hover{
    color: red;
    border-top: solid 5px red;
}
*/
.user-info{
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 99;
    font-size: 14px;
    font-weight: lighter;
}

.user-info a{
    color: #ffffff;
}

img { 
    max-width: 800px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}
.post{
    padding: 10px 0;
    border-bottom: dashed 1px #000000;
    margin: 10px 0;
}

.post .title {
    font-size: 20px; 
}

.post .title a{
    color: #000000;
    font-weight: bolder;
}

.post .content{
    font-size: 16px;
    line-height: 22px;
    text-indent: 2em;
}

.post .author{
    font-size: 16px;
    font-weight: bolder;
    color: #999999;
}

.post a{
   color: #000000; 
}

.comment{
    padding: 10px 0;
    border: dashed 1px #000000;
    margin: 10px 0;
}

.comment .author{
    font-size: 16px;
    font-weight: bolder;
    color: #999999;

}

.comment a{
   color: #000000;
}




